<h2>Cars Details</h2>
<button type="button" class="btn btn-primary m-2" (click)="addCar()">Add Car</button>
<button type="button" class="btn btn-primary m-2" (click)="getCars()">Get Cars</button>
<button type="button" class="btn btn-danger m-2" (click)="removeAll()">Remove All</button>
<div *ngFor = "let car of carsList">
  <span>Brand:  {{ car.brand }}</span><br>
  <span>Model:  {{ car.model }}</span><br>
  <span>Year:  {{ car.year }}</span><br>
  <span>Engine:  {{ car.engine }}</span><br>
  <span>Max Speed:  {{ car.maxSpeed }}</span><br>
  <span>Acceleration:  {{ car.acceleration }}</span><br>
  <span>Price:  {{ car.price }}</span><br>
  <button type="button" class="btn btn-danger m-2" (click)="removeCar(car)">Remove</button>
</div>
